{
    "eth0": {
        "outgoing": {
            // delay all traffic headed to anything in the 10.0.2.0 network with a destination
            // port of 6389 by 1 sec
            "dst-network=10.0.2.0/24, dst-port=6389, protocol=ip": {
                "filter_id": "800::800",
                "delay": "1.0s",
                "rate": "32Gbps"
            },

            // Drop 30% of TCP packets headed for the 172.0.10.0 network regardless of port
            "dst-network=172.0.10.0/24, protocol=ip": {
                "filter_id": "800::801",
                "loss": "30%",
                "rate": "32Gbps"
            }
        },
        "incoming": {
            // rate limit all incoming traffic from the 172.0.30.0 network headed for port 80
            // to 1 Mbps (1024 kbps)
            "src-network=172.0.30.0/24, dst-port=80, protocol=ip": {
                "filter_id": "800::800",
                "rate": "1024Kbps"
            },

            // drop 100% of the packets coming from the 172.0.20.0 network regardless of port
            "src-network=172.0.20.0/24, protocol=ip": {
                "filter_id": "800::801",
                "loss": "100%",
                "rate": "32Gbps"
            }
        }
    }
}
